CHROME_PROFILE_BASE_NAME=Harry
CHROME_PROFILE_RANGE=[67]
CHROME_PROFILE_ROOT=chrome-profiles
# CHROME_START_URLS=https://contactout.com/login;https://outlook.com/
CHROME_START_URLS=https://contactout.com/login
CHROME_PROXY_FILE=chrome-proxy-list.txt
CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe
CURRENT_PROXY=0
CHROME_UNIQUE_PROFILE_PER_LAUNCH=0
# CHROME_SESSION_PROFILE_ROOT=chrome-profiles
